<article class="panel is-dark">
  <p class="panel-heading">
    Upcoming Attended Events
  </p>
  <% user.attended_events.future.each do |evt| %>
    <%= link_to evt.title, event_path(evt), class: "panel-block" %>
  <% end %></article>
<article class="panel">
  <p class="panel-heading">
    Past Attended Events
  </p>
  <% user.attended_events.past.each do |evt| %>
    <%= link_to evt.title, event_path(evt), class: "panel-block" %>
  <% end %>
</article>