<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <p class="panel-heading">
        Created event
      </p>
      <%= render "user_event", events: @users_event %>
    </div>
    <div class="column is-one-third">
      <p class="panel-heading">
        Previous event
      </p>
      <%= render "user_event", events: @previous_events, dark: true %>
    </div>
    <div class="column is-one-third">
      <p class="panel-heading">
        Upcoming events
      </p>
      <%= render "user_event", events: @upcoming_events %>
    </div>
  </div>
</div>
